/* fonts */

@font-face {
    font-family: "Pokemon_Hollow";
    src: url(fonts/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: "Pokemon_Solid";
    src: url(/fonts/Pokemon\ Solid.ttf);
}

/* all */ 

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* main body */
/* what is wrong with the text stroke?*/ 
.title {
    font-family: "Pokemon_Solid";
    letter-spacing:.4cap;
    color: #ffcb05;
    -webkit-text-stroke: 2px #2a75bb;
    stroke: 2px #2a75bb;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);z
}

div {
    display: block;
}

/* change color of background for more contrast */
body {
    background-color: #ff0000;
}