/* fonts */

@font-face {
    font-family: "Pokemon_Hollow";
    src: url(fonts/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: "Pokemon_Solid";
    src: url(/fonts/Pokemon\ Solid.ttf);
}

/* all */ 

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* main body */

/* what is wrong with the text stroke?*/ 

.title {
    font-family: "Pokemon_Solid";
    letter-spacing:.4cap;
    color: #ffcb05;
    -webkit-text-stroke: 2px #2a75bb;
    stroke: 2px #2a75bb;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.enter-your-bday { 
    font-family: poppins;
    font-size: 1.25em;
    color: #fefaf6;
    line-height: 1;
    font-weight: 550;
    margin-bottom: 10px;
    text-align: center;
}



div {
    display: block;
}

/* change color of background for more contrast */
body {
    background-color: #ff0000;
}

/* buttons */ 
.pokemon-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin: 0 50px;
}

.pokemon-buttons img { 
    max-width: 178px;
    align-self: center;
}

.pokemon-buttons button {
    cursor: pointer;
    margin: 10px;
    border: none;
    background-color: inherit;
    appearance: none;
    transition: .2s ease-in-out;
    background-position: center;
    background-size: 80% 80%; 
    background-repeat: no-repeat;
}

/* the pokeball looks kind of weird*/
.pokemon-buttons button:hover {
    background-image: url('images/pokeball-min.png');
    background-size: 500px;
    transform: scale(1.5);
    display:flex;
}

footer { 
    padding: 20px 5px;
}
