/* fonts */

@font-face {
    font-family: "Pokemon_Hollow";
    src: url(fonts/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: "Pokemon_Solid";
    src: url(/fonts/Pokemon\ Solid.ttf);
}

/* all */ 

* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

/* help modal */ 
.help-modal-container {
    display:none;
}

.help-button { 
    padding: 10px;
}

.help-button button { 
    background-color: #ffcb05;
    border-radius: 25px;
    padding: 10px 17px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: 3px solid #2a75bb;
    font-family: Poppins;
    font-weight: 575;
    font-size: 14px;
}

.help-modal-container { 
    position: fixed;
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-modal { 
    background-color: #ffcb05;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px; 
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
/* main body */

.title {
    color: #ffcb05;
    display: flex;
    font-family: "Pokemon_Solid";
    justify-content: center;
    letter-spacing:.4cap;
    stroke: 2px #2a75bb;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px #2a75bb;
}

/*calendar*/

.enter-your-bday { 
    color: #fefaf6;
    font-family: poppins;
    font-size: 1.25em;
    font-weight: 550;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.calendar { 
    margin-top: 10px;
    text-align: center
}

input { 
    background-color: #ffcb05;
    border: #2a75bb;
    border-radius: 25px;
    border-width: 10px;
    border: 3px solid #2a75bb;
    color: black;
    display: inline-block; 
    font-family: Poppins;
    font-weight: 575;
    font-size:.9em;
    margin: 0 auto; 
    padding: 9px;
    width: auto;
}

.enter { 
    background-color: #2a75bb;
    border: none;
    border-radius: 25px;
    color: #fefaf6;
    display: inline-block;
    font-family: Poppins;
    font-size: .9em;
    font-weight: 600;
    margin: 0 auto;
    padding: 9px;
    width: auto; 

}

/*flexbox*/

div {
    display: block;
}

/* change color of background for more contrast */

body {
    background-color: #ff0000;
}

/* buttons */ 
.pokemon-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin: 0 50px;
}

.pokemon-buttons img { 
    align-self: center;
    max-width: 178px;
}

.pokemon-buttons button {
    appearance: none;
    background-position: center;
    background-size: 80% 80%; 
    background-repeat: no-repeat;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin: 10px;
    transition: .2s ease-in-out;
}

.pokemon-buttons button:hover {
    background-image: url('images/pokeball-min.png');
    background-size: 170px;
    display:flex;
    transform: scale(1.5);
}

footer { 
    padding: 20px 5px;
    font-family: Poppins;
    color: #fefaf6;
}

/*modal*/

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

/* style for the modal content */


.modal-content {
    border-radius: 25px;
    background-color: #ffcb05;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #2a75bb;
    border-width: 10px;
    border: 5px solid #2a75bb;
    width: 80%;
    font-family: Poppins;
}

.modal-text {
    text-align: center;
}

.pokemon-image {
    margin: 0% 25%
}

/* style for the close button */

.close-button {
    border-radius: 25px;
    color: #fefaf6;
    background-color: #2a75bb;
    border: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
}

.close-button:hover {
    color: black;
}